!example_secrets.json
!example_variables.auto.tfvars
*_override.tf
*_override.tf.json
*.lock*
*.tfstate
*.tfstate.*
**/.terraform/*
crash.log
override.tf
override.tf.json
secrets.json
variables.auto.tfvars